.App {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #774a4a,
    #926459,
    #ab816a,
    #c29f7d,
    #d6bf93,
    #d6bf93,
    #d6be93,
    #d6be93,
    #c29e7d,
    #ab8069,
    #926359,
    #774949
  );
  height: 100vh;
}

.App-logo {
  height: 100px;
  box-shadow: 15px 11px 23px 0px rgba(0, 0, 0, 0.75);

  border-radius: 50%;
  width: 110px;
}
.header-banner {
  position: center;
  margin: 0%;
  padding: 0px;
  height: 80px;
  width: 80px;
}

.App-header {
  background-color: #774a4a;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  color: #d6be93;
  font-family: Impact;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
